.conteinerLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
    
}

.boxLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 502px;
    width: 500px;
    background-color: #393874;
}

.loginForm{
    height: auto;
    padding: 30px;
    border-radius:15px;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}

.titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 25px;
    margin-top:40px ;
}


.inputField{
    height: 50px;
    font-size: 16px;
    color: #393874;
    background-color: #EEEEEE;
    width: 370px;
    box-sizing: border-box;
    margin-bottom: 27px;
    align-items: center;
    display: flex;
}



.submitButton{
    width: 350px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FF7070;
    font-size: 16px;
    padding: 12px;
    margin-top: 10px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.error{
    color: #dc3545;
    font-size: 13px;
    margin-top: 5px;
}