.conteiner{
    width: 96%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tableMenu{
    width: 700px;
    height: 500px;
    background-color: #393874a4;
    padding: 10px;
    border-radius: 36px;
    border: 9px solid rgb(255, 255, 255);
}

.tdMenu{
    text-align: center;
}

.tdMenu img{
    margin-bottom: 5px;
}

.tdMenu label{
    display: block;
    margin-top: 5px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family:"Inter", sans-serif;
}